<p-dialog [(visible)]="visible" (onHide)="hideDialog()" [modal]="true" [style]="{ width: '450px' }"
    styleClass="p-fluid" header="Modificar Usuario" >
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
        <div class="formgrid grid">
            <div class="field col-4">
                <label for="userName">Username</label>
                <input type="text" pInputText id="userName" formControlName="userName"
                    [ngClass]="{ 'p-error': submitted && f['userName'].errors }" />
                <div class="p-error" *ngIf="submitted && f['userName'].errors">
                    <span *ngIf="f['userName'].errors['required']">Username is required</span>
                </div>
            </div>
            <div class="field col-8">
                <label for="realName">Real Name</label>
                <input type="text" pInputText id="realName" formControlName="realName"
                    [ngClass]="{ 'p-error': submitted && f['realName'].errors }" />
                <div class="p-error" *ngIf="submitted && f['realName'].errors">
                    <span *ngIf="f['realName'].errors['required']">Real Name is required</span>
                </div>
            </div>
        </div>
        <div class="formgrid grid">
            <div class="field col-6">
                <label for="role">Role</label>
                <p-dropdown [options]="roleOptions" formControlName="role" placeholder="Select Role" optionLabel="name"
                    optionValue="id" [ngClass]="{ 'p-error': submitted && f['role'].errors }"></p-dropdown>
                <div class="p-error" *ngIf="submitted && f['role'].errors">
                    <span *ngIf="f['role'].errors['required']">Role is required</span>
                </div>
            </div>
            <div class="field col-6"> 
                <p-checkbox name="active" formControlName="active" [binary]="true" label="Activo"></p-checkbox>
            </div>
        </div>
        <div class="field col-12">
            <label for="endOfLife">End of Life</label>
            <p-calendar formControlName="endOfLife" placeholder="Select End of Life"
                dateFormat="dd/mm/yy" appendTo="body"
                [ngClass]="{ 'p-error': submitted && f['endOfLife'].errors }"></p-calendar>
            <div class="p-error" *ngIf="submitted && f['endOfLife'].errors">
                <span *ngIf="f['endOfLife'].errors['required']">End of Life is required</span>
            </div>
        </div>
        <button pButton pRipple [disabled]="submitted" icon="pi pi-check" class="p-button-rounded p-button-text">
            <span *ngIf="submitted">
                <p-progressSpinner [style]="{ width: '25px', height: '25px' }" styleClass="custom-spinner"
                    strokeWidth="8" fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
            </span>
            <span *ngIf="!submitted">Actualizar</span>
        </button>
    </form>
</p-dialog>