<div class="card-body login mat-elevation-z8">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <div class="col-12 ">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                <input type="text" pInputText placeholder="Username" formControlName="username"
                    [ngClass]="{ 'p-error block': submitted && f['username'].errors }" />
            </div>
        </div>
        <div class="col-12  " *ngIf="submitted && f['username'].errors" class="p-error block">
            <span *ngIf="f['username'].errors['required' || 'minLength']">Username is required</span>
        </div>
        <div class="col-12 ">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>
                <input type="password" pInputText placeholder="password" formControlName="password"
                    [ngClass]="{ 'p-error block': submitted && f['password'].errors }" />
            </div>
        </div>
        <div class="col-12 " *ngIf="submitted && f['password'].errors" class="p-error block">
            <span *ngIf="f['password'].errors['required']">Password is required</span>
        </div>
        <div class="col-12 ">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>
                <input type="password" pInputText placeholder="npassword" formControlName="npassword"
                    [ngClass]="{ 'p-error block': submitted && f['npassword'].errors }" />
            </div>
        </div>
        <div class="col-12 " *ngIf="submitted && f['npassword'].errors" class="p-error block">
            <span *ngIf="f['npassword'].errors['required']">NPassword is required</span>
        </div>
        <div class="form-actions">
            <button *ngIf="!submitted" pButton pRipple [disabled]="!loginForm.valid" icon="pi pi-check"
              class="p-button-rounded p-button-text">
              Enviar
            </button>
            <p-progressSpinner *ngIf="submitted" [style]="{ width: '25px', height: '25px' }" styleClass="custom-spinner"
              strokeWidth="8" fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
          </div>
    </form>
</div>