<p-dialog [(visible)]="visible" [modal]="true" [style]="{width: '20vw', height: '30vw'}"
[draggable]="false" [resizable]="false" header="Estados">
  <ng-template pTemplate="body">
<p-dropdown [options]="estados" [(ngModel)]="selected" optionLabel="name" optionValue="id" [lazy]="true"
        (onChange)="onChange()"
        placeholder="Seleccione Estado">
        <ng-template pTemplate="loader" let-options="options">
            <div class="flex align-items-center py-2 px-3" style="height: 38px">
                <ngx-skeleton-loader height="1rem"></ngx-skeleton-loader>
            </div>
        </ng-template>
    </p-dropdown>
</ng-template>
</p-dialog>