<div class="grid p-fluid">
    <div class="col-8">
        <p-dropdown [options]="cuentas" [(ngModel)]="cuentaSelected" placeholder="Cuenta"  optionLabel="name"
            [showClear]="true" appendTo="body" (onChange)="onChange()"></p-dropdown>
    </div>
    <div class="col-4">
        <button  *ngIf="botonPago" pButton pRipple type="button" label="Confirmar"
            class="p-button-rounded p-button-text p-button-info p-mr-2" icon="pi pi-check" (click)="onPay()"></button>
    </div>
</div>