<app-listado></app-listado>
<p-toolbar>
    <ng-template pTemplate="left">
        <button *ngIf="operacion" pButton pRipple type="button" icon="pi pi-user" id="clientebtn"
            class="p-button-rounded p-button-info p-button-text p-button-sm" onclick="console.log('Cambio el cliente')">
            {{operacion.razon}}</button>
        <button *ngIf="operacion" pButton pRipple type="button" icon="pi pi-bookmark" id="clientebtn"
            class="p-button-rounded p-button-info p-button-text p-button-sm"
            onclick="console.log('Modifico el cliente')">
            {{operacion.resp}}</button>
    </ng-template>

    <ng-template pTemplate="right">
        <button *ngIf="operacion" pButton pRipple type="button" icon="pi pi-dollar"
            class="p-button-rounded p-button-success p-button-text" onclick="console.log('Cobro')">
            {{operacion.total}}
        </button>
        <button pButton pRipple type="button" icon="pi pi-cog" id="clientebtn"
            class="p-button-rounded p-button-info p-button-text" onclick="console.log('Hago una orden')"></button>
    </ng-template>
</p-toolbar>
<p-divider></p-divider>
<p-table>
    <ng-template pTemplate="header">
        <tr class="header-table">
            <th>Cantidad</th>
            <th>Detalle</th>
            <th>Total</th>
            <th><button pButton pRipple type="button" icon="pi pi-plus"
                    class="p-button-rounded p-button-info p-button-text p-button-sm"
                    (click)="child.visible=true"></button></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-operacion.detalles>
        <tr>
            <td>{{operacion.detalles}}</td>
            <td>{{operacion.detalles}}</td>
            <td>{{operacion.detalles}}</td>
            <td>"Edicion"</td>
        </tr>
    </ng-template>
</p-table>