<p-card>
    <p-toast 
    class="custom-toast" 
    position="top-center" 
    [showTransformOptions]="'translateY(100%)'" 
    [showTransitionOptions]="'1000ms'" 
    [hideTransitionOptions]="'1000ms'" 
    [showTransformOptions]="'translateX(100%)'">
    </p-toast>
    <p-toolbar>
        <ng-template pTemplate="right">
            <button pButton pRipple type="button" icon="pi pi-plus"
                class="p-button-rounded p-button-success p-button-text" (click)="openUserAdd()">
            </button>
        </ng-template>
        <div class="flex">
            <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                    placeholder="Búsqueda..." />
            </span>
        </div>
    </p-toolbar>
    <p-table #dt [value]="listado" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
        (sortFunction)="customSort($event)" [customSort]="true" [tableStyle]="{'min-width': '50rem'}"
        [(selection)]="selectedUser" dataKey="id"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
        [rowsPerPageOptions]="[10,25,50]" [rowHover]="true" [globalFilterFields]="[ 'userName','realName']">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 4rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="userName" style="width:15%">User <p-sortIcon field="userName"></p-sortIcon></th>
                <th pSortableColumn="realName" style="width:30%">Nombre <p-sortIcon field="realName"></p-sortIcon></th>
                <th pSortableColumn="roleName" style="width:15%">Rol <p-sortIcon field="roleName"></p-sortIcon></th>
                <th pSortableColumn="endOfLife" style="width:15%">Vence <p-sortIcon field="endOfLife"></p-sortIcon></th>
                <th pSortableColumn="active" style="width:15%">Activo <p-sortIcon field="active"></p-sortIcon></th>
                <th style="width:5%"><i class="pi pi-file-edit"></i></th>
                <th style="width:5%"><i class="pi pi-trash"></i></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-listado>
            <tr>
                <td>
                    <p-tableCheckbox [value]="listado"></p-tableCheckbox>
                </td>
                <td>{{listado.userName}}</td>
                <td>{{listado.realName}}</td>
                <td>{{listado.roleName}}</td>
                <td>{{listado.endOfLife | date:'dd/M/yyyy'}}</td>
                <td>{{listado.active ? 'si' : 'no'}}</td>
                <td> <button pButton pRipple type="button" icon="pi pi-pencil"
                        class="p-button-rounded p-button-success p-button-text" (click)="onEdit(listado)">
                    </button></td>
                <td> <button pButton pRipple type="button" icon="pi pi-trash"
                        class="p-button-rounded p-button-danger p-button-text" (click)="deleteUser(listado.id)">
                    </button></td>
            </tr>
        </ng-template>

        <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="pi pi-plus" styleClass="p-button-text" (click)="openUserAdd()">
            </p-button>
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-table>
    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
</p-card>
<ng-container #editUserContainer></ng-container> 
<ng-container #addUserContainer></ng-container>  