<div class="card-body login mat-elevation-z8">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <div class="col-12 md:col-4">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                <input type="text" pInputText placeholder="Username" formControlName="username"
                    [ngClass]="{ 'p-error block': submitted && f['username'].errors }" />
            </div>
        </div>
        <div class="col-12 md:col-4" *ngIf="submitted && f['username'].errors" class="p-error block">
            <span *ngIf="f['username'].errors['required' || 'minLength']">Username is required</span>
            </div>
        <div class="col-12 md:col-4">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>
                <input type="password" pInputText placeholder="password" formControlName="password"
                    [ngClass]="{ 'p-error block': submitted && f['password'].errors }" />
            </div>
        </div>
        <div class="col-12 md:col-4" *ngIf="submitted && f['password'].errors" class="p-error block">
            <span *ngIf="f['password'].errors['required']">Password is required</span>
        </div>
        <button pButton pRipple [disabled]="loading" icon="pi pi-check" class="p-button-rounded p-button-text">
            <span *ngIf="loading">
                <p-progressSpinner [style]="{width: '25px', height: '25px'}" styleClass="custom-spinner" strokeWidth="8"
                    fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
            </span>
        </button>
        <div *ngIf="error" class="p-error block">{{error}}</div>
    </form>
</div>