<p-table [value]="operaciones" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
    (sortFunction)="customSort($event)" [customSort]="true" [tableStyle]="{'min-width': '50rem'}"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
    [rowsPerPageOptions]="[10,25,50]"  
    >
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="numero" style="width:10%">Numero <p-sortIcon field="numero"></p-sortIcon></th>
            <th pSortableColumn="razon" style="width:60%">Cliente <p-sortIcon field="razon"></p-sortIcon></th>
            <th pSortableColumn="total" style="width:15%">Total <p-sortIcon field="total"></p-sortIcon></th>
            <th pSortableColumn="fecha" style="width:15%">Fecha <p-sortIcon field="fecha"></p-sortIcon></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-operaciones>
        <tr>
            <td>{{operaciones.numero}}</td>
            <td>{{operaciones.razon}}</td>
            <td>{{operaciones.total}}</td>
            <td>{{operaciones.fecha | date:'dd/M/yyyy'}}</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
        <p-button type="button" icon="pi pi-plus" styleClass="p-button-text" routerLink="/operaciones/operacion">
        </p-button>
    </ng-template>
    <ng-template pTemplate="paginatorright">
        <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
    </ng-template>
</p-table>