<p-dialog [modal]="true" header="Cobranzas" [(visible)]="visible" [style]="{width: '70vw', heigth:'auto'}"
    position="center"  
    closeIcon="pi pi-trash"
    (onHide)="resetpagos()"
    >

    <div class="grid p-fluid">
        <div class="col-12 md:col-4">
            <p-dropdown [options]="tipospago" [(ngModel)]="tiposelected" placeholder="Tipo de Pago" optionLabel="name"
                [showClear]="true"></p-dropdown>
        </div>
        <div class="col-12 md:col-4">
            <p-dropdown [options]="pos" [(ngModel)]="posselected" placeholder="POS" optionLabel="name"
                [showClear]="true"></p-dropdown>
        </div>

        <div class="col-12 md:col-4">
            <div class="p-inputgroup">
                <button type="button" pButton pRipple icon="pi pi-times"
                    class="p-button-rounded p-button-danger p-button-text" (click)="reciboDetalle.monto=0"></button>
                <input *ngIf="operacion" [(ngModel)]="reciboDetalle.monto" type="number" pInputText>
                <button type="button" pButton pRipple icon="pi pi-check"
                    class="p-button-rounded p-button-success p-button-text" (click)="agregaritempago()"></button>
            </div>
        </div>
    </div>
    <p-table *ngIf="reciboDetalles" [value]="reciboDetalles" [tableStyle]="{'min-width': '50rem'}">
        <ng-template pTemplate="header">
            <tr>
                <th>Monto</th>
                <th>Observación</th>
                <th>Pos</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-pagos>
            <tr>
                <td>{{pagos.monto | currency:'USD'}}</td>
                <td>{{pagos.observacion}}</td>
                <td>{{pagos.posNombre}}</td>
                <td> <button pButton pRipple type="button" class="p-button-rounded p-button-text p-button-danger p-mr-2"
                        icon="pi pi-trash" (click)="deleteitempago(pagos.tipo)"></button></td>
            </tr>
        </ng-template>
    </p-table>
    <div *ngIf="calculartotalcobro()>0 else nopagos">
        <button pButton pRipple type="button" label="Confirmar"
            class="p-button-rounded p-button-text p-button-info p-mr-2" icon="pi pi-check"
            (click)="confirmar()"></button>
    </div>
    <ng-template #nopagos>
        <div>No hay pagos para procesar aún
        </div>
    </ng-template> 
</p-dialog>
<p-dialog 
[visible]="cobrandomp" 
[modal]="true"  
closeIcon="pi pi-trash"
[style]="{width: '50vw'}"
><p>Cobrando...{{(intentresponse$ | async)?.id}}</p>
<p-progressBar mode="indeterminate"></p-progressBar>
</p-dialog>