<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  login
  exit
  menu usuarios->nuevo,listar
</mat-toolbar>
 


<mat-sidenav-container>

  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <img class="avatar mat-elevation-z8" src="../assets/logo.jpg" />
    <h4 class="name">Aramis Sistemas</h4>
    <p class="designation">Gestión Integral</p>

    <mat-divider></mat-divider>
HOME->OPERACIONES
CLIENTES
PAGOS
REPORTES
STOCK
  </mat-sidenav>

  <mat-sidenav-content>

    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
 