
<mat-toolbar class="mat-elevation-z8">

  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button> 
  <button pButton pRipple type="button" icon="pi pi-user" class="p-button-rounded p-button-info p-button-text"
    routerLink="security/login"></button>
  <button pButton pRipple type="button" icon="pi pi-power-off" class="p-button-rounded p-button-danger p-button-text"
    (click)="logout()"></button>
  <button pButton pRipple type="button" icon="pi pi-user-edit" class="p-button-rounded p-button-warning p-button-text"
    routerLink="security/change"></button>
  
  <div *ngIf="user" class="user">Usuario Logueado: {{user.realName}}</div>
 
</mat-toolbar>



<mat-sidenav-container>

  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <img class="avatar mat-elevation-z8" src="../assets/logo.jpg" />
    <h4 class="name">Aramis Sistemas</h4>
    <p class="designation">Gestión Integral</p>

    <mat-divider></mat-divider>
    <button pButton pRipple type="button" icon="pi pi-home" label="Operaciones"
      class="p-button-raised p-button-text menu-button" routerLink="operaciones"></button>
    <button pButton pRipple type="button" icon="pi pi-users" label="Clientes"
      class="p-button-raised p-button-text menu-button"></button>
    <button pButton pRipple type="button" icon="pi pi-print" label="Reportes"
      class="p-button-raised p-button-text menu-button"></button>
    <button pButton pRipple type="button" icon="pi pi-box" label="Stock"
      class="p-button-raised p-button-text menu-button" routerLink="stock"></button>
    <mat-divider></mat-divider>
    <button pButton pRipple type="button" icon="pi pi-wrench" label="Admin"
      class="p-button-raised p-button-text menu-button"></button>
  </mat-sidenav>

  <mat-sidenav-content> 
    <div class="content mat-elevation-z8">
      <router-outlet> </router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>