<p-dialog header="Listado de Productos" [(visible)]="visible" [style]="{width: '80vw'}" position="right">
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="confirmar()" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>

    <p-toolbar>
        <div class="flex">
            <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                    placeholder="Búsqueda..." />
            </span>
        </div>
        <p-button icon="pi pi-check" (click)="confirmar()" label="Ok" styleClass="p-button-text"></p-button>
    </p-toolbar>

    <p-table #dt [value]="products" [rows]="10" [paginator]="true" [globalFilterFields]="['descripcion','unitario']"
        [tableStyle]="{'min-width': '35rem'}" [(selection)]="selectedProducts" dataKey="id"
        currentPageReportTemplate="Mostrado {first} a {last} de {totalRecords} registros"
        [showCurrentPageReport]="true">

        <ng-template pTemplate="header">
            <tr>
                <th style="width: 4rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="descripcion" style="min-width:15rem">Detalle <p-sortIcon
                        field="descripcion"></p-sortIcon></th>

                <th pSortableColumn="unitario">Precio <p-sortIcon field="unitario"></p-sortIcon></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-product>
            <tr>
                <td>
                    <p-tableCheckbox [value]="product"></p-tableCheckbox>
                </td>
                <td>{{product.descripcion}}</td>
                <td>{{product.unitario | currency:'USD'}}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                Existen {{products ? products.length : 0 }} productos.
            </div>
        </ng-template>
    </p-table>
</p-dialog>