<div *ngIf="user==null">
  <div class="item">
    <ngx-skeleton-loader count="5" animation="pulse" appearance="circle"></ngx-skeleton-loader>
  </div>
  <div class="item">
    <ngx-skeleton-loader count="3" animation="pulse" [theme]="{
            height: '50px',
            'background-color': '#002b5c'
          }"></ngx-skeleton-loader>
  </div>
  <div class="item">
    <ngx-skeleton-loader appearance="circle"></ngx-skeleton-loader>
  </div>
</div>
<div *ngIf="user"> 
  <div class="card"> 
    <app-gridoperaciones></app-gridoperaciones>

</div>