<p-toast></p-toast>
<p-dialog [modal]="true" header="Saldo:  {{conciliacion.saldoConciliado  | currency:'USD'}}" [(visible)]="visible"
    [style]="{ heigth:'auto'}" position="top-right" closeIcon="pi pi-times" (onHide)="onHide()">
    <p-splitter [style]="{'height': '450px'}">
        <ng-template pTemplate="header">
            <p-table #dt [value]="conciliacion.operacionesImpagas" [paginator]="true" [rows]="5"
                [showCurrentPageReport]="true" (sortFunction)="customSort($event)" [customSort]="true"
                currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
                [rowsPerPageOptions]="[10,25,50]" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex align-items-center justify-content-between">
                        Remitos Pendientes de Pago: {{conciliacion.debitos | currency:'USD'}}
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 1rem"></th>
                        <th pSortableColumn="numero" style="width:30%">Numero <p-sortIcon field="numero"></p-sortIcon>
                        </th>
                        <th pSortableColumn="total" style="width:30%">Total <p-sortIcon field="total"></p-sortIcon></th>
                        <th pSortableColumn="fecha" style="width:30%">Fecha <p-sortIcon field="fecha"></p-sortIcon></th>
                        <th style="width:10%"><i class="pi pi-print"></i></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-operaciones let-expanded="expanded">
                    <tr>
                        <td>
                            <button type="button" pButton pRipple [pRowToggler]="operaciones"
                                class="p-button-text p-button-rounded p-button-plain"
                                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                        </td>
                        <td>{{operaciones.numero}}</td>
                        <td>{{operaciones.total | currency:'USD'}}</td>
                        <td>{{operaciones.fecha | date:'dd/M/yyyy'}}</td>
                        <td> <button pButton pRipple type="button" icon="pi pi-print"
                                class="p-button-rounded p-button-info p-button-text"
                                (click)="printremito(operaciones.id)">
                            </button></td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-operacion let-detalles>
                    <tr>
                        <td colspan="7">
                            <div class="p-p-3">
                                <p-table [value]="operacion.detalles" dataKey="id">
                                    <ng-template pTemplate="header">
                    <tr>
                        <th columm="id" hidden></th>
                        <th pSortableColumn="cantidad">Cantidad <p-sortIcon field="cantidad"></p-sortIcon></th>
                        <th pSortableColumn="detalle">Detalle <p-sortIcon field="detalle"></p-sortIcon></th>
                        <th pSortableColumn="total">Total <p-sortIcon field="total"></p-sortIcon></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-detalles>
                    <tr>
                        <td hidden>{{detalles.id}}</td>
                        <td>{{detalles.cantidad}}</td>
                        <td>{{detalles.detalle}}</td>
                        <td>{{detalles.total | currency:'USD'}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="6">Este documento no contiene detalles aún</td>
                    </tr>
                </ng-template>
            </p-table>
            </div>
            </td>
            </tr>
        </ng-template>
        </p-table>
        </ng-template>
        <ng-template pTemplate>
            <p-table #dt [value]="conciliacion.recibosSinImputar" [paginator]="true" [rows]="5"
                [showCurrentPageReport]="true" (sortFunction)="customSort($event)" [customSort]="true"
                currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
                [rowsPerPageOptions]="[10,25,50]" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex align-items-center justify-content-between">
                        Recibos sin Imputar {{conciliacion.creditos | currency:'USD'}}
                        <button pButton pRipple type="button" icon="pi pi-dollar" id="recibobtn"
                            class="p-button-rounded p-button-info p-button-text p-button-sm" (click)="displaycobro()">
                            Nuevo Recibo
                        </button>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 1rem"></th>
                        <th pSortableColumn="numero" style="width:30%">Numero <p-sortIcon field="numero"></p-sortIcon>
                        </th>
                        <th pSortableColumn="fecha" style="width:30%">Fecha <p-sortIcon field="fecha"></p-sortIcon></th>
                        <th style="width:20%"><i class="pi pi-print"></i></th>
                        <th style="width:20%"><i class="pi pi-file-excel"></i></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-recibos let-expanded="expanded">
                    <tr>
                        <td>
                            <button type="button" pButton pRipple [pRowToggler]="recibos"
                                class="p-button-text p-button-rounded p-button-plain"
                                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                        </td>
                        <td>{{recibos.numero}}</td>
                        <td>{{recibos.fecha | date:'dd/M/yyyy'}}</td>
                        <td> <button pButton pRipple type="button" icon="pi pi-print" (click)="printrecibo(recibos.id)"
                                class="p-button-rounded p-button-info p-button-text">
                            </button></td>
                        <td> <button pButton pRipple type="button" icon="pi pi-chevron-circle-right"
                                class="p-button-rounded p-button-info p-button-text"
                                (click)="imputarrecibo(recibos.id)">
                            </button></td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-recibo let-detalles>
                    <tr>
                        <td colspan="7">
                            <div class="p-p-3">
                                <p-table [value]="recibo.detalles" dataKey="id">
                                    <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="observacion">Observacion <p-sortIcon field="observacion"></p-sortIcon></th>
                        <th pSortableColumn="monto">Monto <p-sortIcon field="monto"></p-sortIcon></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-detalles>
                    <tr>
                        <td>{{detalles.observacion}}</td>
                        <td>{{detalles.monto | currency:'USD'}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="6">Este documento no contiene detalles aún</td>
                    </tr>
                </ng-template>
            </p-table>
            </div>
            </td>
            </tr>
        </ng-template>
        </p-table>
        </ng-template>
    </p-splitter>
    <app-cobro></app-cobro>
</p-dialog>