<p-card>
    <p-toast class="custom-toast" position="top-center" [showTransformOptions]="'translateY(100%)'"
        [showTransitionOptions]="'1000ms'" [hideTransitionOptions]="'1000ms'"
        [showTransformOptions]="'translateX(100%)'">
    </p-toast>
    <p-toolbar>
        <ng-template pTemplate="right">
            <button *ngIf="!presupuestando" pButton pRipple type="button" icon="pi pi-plus"
            (click)="openProductoAdd()"  class="p-button-rounded p-button-success p-button-text">
            </button>
        </ng-template>
        <div class="flex">
            <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                    placeholder="Búsqueda..." />
            </span>
        </div>
    </p-toolbar>
    <p-table #dt [value]="listado" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
        (sortFunction)="customSort($event)" [customSort]="true" [tableStyle]="{'min-width': '50rem'}"
        [(selection)]="selected" dataKey="id"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
        [rowsPerPageOptions]="[10,25,50]" [rowHover]="true" [globalFilterFields]="[ 'plu','descripcion','rubro']">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 4rem"><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
                <th pSortableColumn="cantidad" style="width:10%">Cantidad <p-sortIcon field="cantidad"></p-sortIcon>
                </th>
                <th pSortableColumn="plu" style="width:10%">Plu <p-sortIcon field="plu"></p-sortIcon></th>
                <th pSortableColumn="descripcion" style="width:40%">Descripcion <p-sortIcon
                        field="descripcion"></p-sortIcon></th>
                <th pSortableColumn="rubroName" style="width:15%">Rubro <p-sortIcon field="rubroName"></p-sortIcon></th>
                <th pSortableColumn="unitario" style="width:15%">Precio <p-sortIcon field="unitario"></p-sortIcon></th>
                <th *ngIf="!presupuestando" style="width:5%"><i class="pi pi-file-edit"></i></th>
                <th *ngIf="!presupuestando" style="width:5%"><i class="pi pi-trash"></i></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-listado>
            <tr>
                <td>
                    <p-tableCheckbox [value]="listado"></p-tableCheckbox>
                </td>
                <td>{{listado.cantidad}}</td>
                <td>{{listado.plu}}</td>
                <td>{{listado.descripcion}}</td>
                <td>{{listado.rubroName}}</td>
                <td>{{listado.unitario| currency:'USD'}}</td>
                <td *ngIf="!presupuestando"> <button pButton pRipple type="button" icon="pi pi-pencil"
                        class="p-button-rounded p-button-success p-button-text" (click)="openProductoEdit(listado)">
                    </button></td>
                <td *ngIf="!presupuestando"> <button pButton pRipple type="button" icon="pi pi-trash"
                        class="p-button-rounded p-button-danger p-button-text" (click)="deleteProducto(listado.id)">
                    </button></td>
            </tr>
        </ng-template>

        <ng-template pTemplate="paginatorleft">
            <p-button *ngIf="!presupuestando" type="button" icon="pi pi-plus" styleClass="p-button-text" (click)="openProductoAdd()">
            </p-button>
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <p-button *ngIf="presupuestando" type="button" icon="pi pi-check-circle" styleClass="p-button-text"
                (click)="enviarSeleccionados()">
            </p-button>
        </ng-template>
    </p-table>
</p-card>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
<ng-container #addProductoContainer></ng-container>