.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
  
  .form-field {
    margin-bottom: 1rem;
  }
  
  .form-actions {
    text-align: right;
    margin-top: 1rem;
  }
  