<p-card>
    <p-toast></p-toast>
    <p-toolbar>
        <ng-template pTemplate="right">
            <button pButton pRipple type="button" icon="pi pi-plus"
                class="p-button-rounded p-button-success p-button-text" (click)="customerDialog=true">
            </button>
        </ng-template>
        <div class="flex">
            <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                    placeholder="Búsqueda..." />
            </span>
        </div>
    </p-toolbar>
    <p-table #dt [value]="listado" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
        (sortFunction)="customSort($event)" [customSort]="true" [tableStyle]="{'min-width': '50rem'}"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
        [rowsPerPageOptions]="[10,25,50]" [rowHover]="true" [globalFilterFields]="['razon','cui']" dataKey="id">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="cui" style="width:20%">Cui <p-sortIcon field="cui"></p-sortIcon></th>
                <th pSortableColumn="razon" style="width:40%">Razón <p-sortIcon field="razon"></p-sortIcon></th>
                <th pSortableColumn="respName" style="width:25%">Resp. <p-sortIcon field="respName"></p-sortIcon></th>
                <th style="width:5%"><i class="pi pi-dollar"></i></th>
                <th style="width:5%"><i class="pi pi-file-edit"></i></th>
                <th style="width:5%"><i class="pi pi-trash"></i></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-listado>
            <tr>
                <td>{{listado.cui}}</td>
                <td>{{listado.razon}}</td>
                <td>{{listado.respName}}</td> 
                <td> <button pButton pRipple type="button" icon="pi pi-dollar"
                    class="p-button-rounded p-button-info p-button-text" (click)="onConciliar(listado.id)">
                </button></td>
                <td> <button pButton pRipple type="button" icon="pi pi-check"
                        class="p-button-rounded p-button-success p-button-text" (click)="onEdit(listado)">
                    </button></td>
                <td> <button pButton pRipple type="button" icon="pi pi-trash"
                        class="p-button-rounded p-button-danger p-button-text" (click)="deleteCustomer(listado)">
                    </button></td>
            </tr>
        </ng-template>

        <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"
            (click)="customerDialog=true">
            </p-button>
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-table>

    <p-dialog [(visible)]="customerDialog" [style]="{width: '500px'}" header="Clientes" [modal]="true"
        styleClass="p-fluid" (onHide)="hideDialog()">
        <ng-template pTemplate="content">
            <div class="formgrid grid">
                <div class="field col">
                    <label for="cui">Cui</label>
                    <input type="text" pInputText id="cui" [(ngModel)]="insert.cui" required autofocus />
                </div>
                <div class="field col">
                    <label for="resp">Responsabilidad</label>
                    <p-dropdown [options]="respos" [(ngModel)]="insert.resp" optionLabel="name" optionValue="id"
                        [lazy]="true" placeholder="Seleccione Resp.">
                        <ng-template pTemplate="loader" let-options="options">
                            <div class="flex align-items-center py-2 px-3" style="height: 38px">
                                <ngx-skeleton-loader height="1rem"></ngx-skeleton-loader>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>
            </div>
            <div class="formgrid grid">
                <div class="field col">
                    <label for="razon">Razon</label>
                    <input type="text" pInputText id="razon" [(ngModel)]="insert.razon" required />
                    <small class="p-error" *ngIf="submitted && !insert.razon">Razón es necesario.</small>
                </div>
            </div>
            <div class="formgrid grid">
                <div class="field col">
                    <label for="gender">Género</label>
                    <p-dropdown [options]="genders" [(ngModel)]="insert.gender" optionLabel="name" optionValue="id"
                        [lazy]="true" placeholder="Seleccione Genero">
                        <ng-template pTemplate="loader" let-options="options">
                            <div class="flex align-items-center py-2 px-3" style="height: 38px">
                                <ngx-skeleton-loader height="1rem"></ngx-skeleton-loader>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>
                <div class="field col">
                    <label for="pais">País</label>
                    <p-dropdown [options]="paises" [(ngModel)]="insert.pais" optionLabel="name" optionValue="id"
                        [lazy]="true" placeholder="Seleccione Pais">
                        <ng-template pTemplate="loader" let-options="options">
                            <div class="flex align-items-center py-2 px-3" style="height: 38px">
                                <ngx-skeleton-loader height="1rem"></ngx-skeleton-loader>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>
            </div>
            <div class="formgrid grid">
                <div class="field col">
                    <label for="domicilio">Domicilio</label>
                    <input type="text" pInputText id="domicilio" [(ngModel)]="insert.domicilio" required />
                    <small class="p-error" *ngIf="submitted && !insert.razon">Domicilio es necesario.</small>
                </div>
            </div>
            <div class="formgrid grid">
                <div class="field col-7">
                    <label for="mail">Mail</label>
                    <input type="mail" pInputText id="mail" [(ngModel)]="insert.mail" />
                </div>
                <div class="field col">
                    <label for="contacto">Contacto</label>
                    <input type="text" pInputText id="contacto" [(ngModel)]="insert.contacto" required />
                    <small class="p-error" *ngIf="submitted && !insert.razon">Contacto es necesario.</small>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
                (click)="hideDialog()"></button>
            <button *ngIf="!updating" pButton pRipple label="Agregar" icon="pi pi-check" class="p-button-text"
                (click)="addCustomer()"></button>
            <button *ngIf="updating" pButton pRipple label="Actualizar" icon="pi pi-check" class="p-button-text"
                (click)="saveCustomer()"></button>
        </ng-template>
    </p-dialog>

    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
<app-conciliacion></app-conciliacion>
</p-card>