<p-toast position="top-center" key="tc"></p-toast>
<app-cobro></app-cobro>
<app-listado (booleanEvent)="actualizaroperacion()"></app-listado>
<app-listadocustomers (booleanEvent)="actualizaroperacion()"></app-listadocustomers>
<p-toolbar>
    <ng-template pTemplate="left">
        <button *ngIf="operacion && (operacion.tipoDocName === 'PRESUPUESTO' || operacion.tipoDocName === 'ORDEN')"
            pButton pRipple type="button" icon="pi pi-user" id="clientebtn"
            class="p-button-rounded p-button-info p-button-text p-button-sm" (click)="childCus.visible=true"
            label="{{operacion.razon}}">
        </button>
        <button *ngIf="operacion && (operacion.tipoDocName === 'REMITO')" pButton pRipple type="button"
            icon="pi pi-user" id="clientebtn" class="p-button-rounded p-button-info p-button-text p-button-sm"
            label="{{operacion.razon}}">
        </button>
        <button *ngIf="operacion" pButton pRipple type="button" icon="pi pi-bookmark" id="clientebtn"
            class="p-button-rounded p-button-info p-button-text p-button-sm"
            onclick="console.log('Modifico el cliente')" label="{{operacion.resp}}">
        </button>
        <button *ngIf="operacion" pButton pRipple type="button" icon="pi pi-print" id="print-btn"
            class="p-button-rounded p-button-info p-button-text p-button-sm" (click)="onPrint()"
            label="Imprimir {{operacion.tipoDocName}}">
        </button>
    </ng-template>

    <ng-template pTemplate="right">
        <button *ngIf="operacion && (operacion.tipoDocName === 'PRESUPUESTO' || operacion.tipoDocName === 'ORDEN')"
            pButton pRipple type="button" class="p-button-rounded p-button-success p-button-text"
            (click)="displaycobro()">
            {{operacion.total | currency:'USD'}}
        </button>
        <button *ngIf="operacion && (operacion.tipoDocName === 'REMITO')" pButton pRipple type="button"
            class="p-button-rounded p-button-success p-button-text">
            {{operacion.total | currency:'USD'}}
        </button>
        <button *ngIf="operacion && (operacion.tipoDocName === 'PRESUPUESTO')" pButton pRipple type="button"
            icon="pi pi-cog" id="clientebtn" class="p-button-rounded p-button-info p-button-text"
            (click)="nuevaorden(operacion.id)"></button>
        <button *ngIf="operacion && (operacion.tipoDocName === 'REMITO')" pButton pRipple type="button"
            icon="pi pi-hashtag" id="clientebtn" class="p-button-rounded p-button-info p-button-text"
            (click)="facturar()"></button>
    </ng-template>
</p-toolbar>
<p-divider></p-divider>

<p-table *ngIf="operacion" [value]="operacion.detalles" dataKey="id" editMode="row"
[(selection)]="selectedDetalls" 
>
    <ng-template pTemplate="header">
        <tr class="header-table">
            <th style="width: 4rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th>Cantidad</th>
            <th>Detalle</th>
            <th>Unitario</th>
            <th>STotal</th>
            <th style="text-align:center"><button
                    *ngIf="(operacion.tipoDocName==='PRESUPUESTO' || operacion.tipoDocName=== 'ORDEN') " pButton pRipple
                    type="button" icon="pi pi-plus" class="p-button-rounded p-button-info p-button-text p-button-sm"
                    (click)="childProd.visible=true"></button></th>
            <th style="text-align:center"></th>
            <th style="text-align:center"><button
                *ngIf="(operacion.tipoDocName==='REMITO' || operacion.tipoDocName?.includes('FACTURA'))&& selectedDetalls.length > 0" pButton pRipple
                type="button" icon="pi pi-delete-left" class="p-button-rounded p-button-danger p-button-text p-button-sm"
                 (click)="devolver(selectedDetalls)"></button></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-detalles let-editing="editing" let-ri="rowIndex">
        <tr [pEditableRow]="detalles"> 
            <td>
                <p-tableCheckbox [value]="detalles"></p-tableCheckbox>
            </td>
            <td  *ngIf="(operacion.tipoDocName==='REMITO' || operacion.tipoDocName==='PRESUPUESTO')">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="number" [(ngModel)]="detalles.cantidadDisponible">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{detalles.cantidadDisponible}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td *ngIf="operacion.tipoDocName==='DEVOLUCION'">
                {{detalles.cantidad}}
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="detalles.detalle">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{detalles.detalle}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td *ngIf="(operacion.tipoDocName==='PRESUPUESTO' || operacion.tipoDocName=== 'ORDEN')">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="number" [(ngModel)]="detalles.unitario">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{detalles.unitario | currency:'USD'}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td *ngIf="operacion.tipoDocName==='REMITO'">
                {{detalles.unitario | currency:'USD'}}
            </td>
            <td>
                {{detalles.total | currency:'USD'}}
            </td>
            <td style="text-align:center">
                <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                    (click)="onRowEditInit(detalles)" class="p-button-rounded p-button-text"></button>
                <button *ngIf="editing &&  (operacion.tipoDocName==='PRESUPUESTO' || operacion.tipoDocName=== 'ORDEN')"
                    pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(detalles)"
                    class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
                <button *ngIf="editing && operacion.tipoDocName==='REMITO'" pButton pRipple type="button"
                    pSaveEditableRow icon="pi pi-check" (click)="onRowEditSaveRemito(detalles, ri)"
                    class="p-button-rounded p-button-text p-button-warning p-mr-2"></button>
                <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                    (click)="onRowEditCancel(detalles, ri)"
                    class="p-button-rounded p-button-text p-button-danger"></button>
            </td>
            <td style="text-align:center">
                <button *ngIf="operacion.tipoDocName==='PRESUPUESTO' || operacion.tipoDocName=== 'ORDEN'" pButton
                    pRipple type="button" class="p-button-rounded p-button-text p-button-danger p-mr-2"
                    icon="pi pi-trash" (click)="deletedetalle(detalles.id)"></button>
                <button *ngIf="operacion.tipoDocName==='REMITO'" pButton pRipple type="button"
                    class="p-button-rounded p-button-text p-button-info p-mr-2" icon="pi pi-trash"
                    (click)="deletedetalleremito(detalles)"></button>
            </td>
            <td><button
                *ngIf="(operacion.tipoDocName==='REMITO' || operacion.tipoDocName?.includes('FACTURA'))" pButton pRipple
                type="button" icon="pi pi-delete-left" class="p-button-rounded p-button-danger p-button-text p-button-sm"
                 (click)="devolver(detalles)"></button></td>
        </tr>
    </ng-template>
</p-table>
<p-dialog [visible]="facturando" [modal]="true" closeIcon="pi pi-times" [style]="{width: '50vw'}">
    <p>Esperando respuesta de AFIP...{{(afipresponse$ | async)?.codAut}}</p>
    <p-progressBar mode="indeterminate"></p-progressBar>
</p-dialog>
    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>